@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* purple */
    --primaryText: 104 112 250;
    /* black */
    --secondaryText: 20 20 20;
    --primaryBackground: 252 252 252;
    --inputBackground: 237 237 237;
    --error: 211 47 47;
  }
  :root[class~="dark"] {
    /* green */
    --primaryText: 76 206 172;
    /* gray [100] */
    --secondaryText: 224 224 224;
    --primaryBackground: 20 27 45;
    --inputBackground: 41 48 64;
    --error: 244 67 54;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

*::after,
*::before {
  box-sizing: border-box;
}
